* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.color_white {
    color: white !important;
}

.upCase {
    text-transform: uppercase !important;
}

.flex-box {
    display: flex !important;
}

.text-center {
    text-align: center !important;
}

.letter-space {
    letter-spacing: 1px;
}

.full-height {
    height: 100% !important;
}

.align-center {
    align-items: center !important;
}

.position-relative {
    position: relative !important;
}

.no_shadow {
    box-shadow: none;
}

.h10 {
    height: 10px;
}

.flex-end {
    justify-content: flex-end !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.noPadding {
    padding: 0;
}

