#auth_form {
    background: url("../assets/img/auth/Gromozeka_cherubs_seaweed_2a7be025-8c2b-4bf9-b04f-4a82c180f2bf.png");
    height: 1200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form_zone {
    background-color: white;
    width: 40%;
    padding: 28px;
    border-radius: 28px;
}

#form_helper {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#form_zone a {
    color: black;
    text-decoration: none;
    font-size: 10px;
}
