#contentZone {
    margin-left: 80px;
    margin-right: 80px;
}

#postZone {
    width: 64%;
    float: left;
}

#postOwnerZone {
    width: 33%;
    margin-left: auto;
}

.comment-block {
    display: inline-block;
    border-radius: 20px;
    background-color: #f0f2f5;
}

#media-containter {
    position: relative;
}

#media-containter:hover {
    cursor: pointer;
}

#media-containter:hover #interactive {
    display: block;
}

#interactive {
    position: absolute;
    width: 100%;
    top: 0;
    display: none;
}

#interactive-btns {
    float: right;
}

.interactive-btn {
    background-color: transparent;
}

.interactive-btn:hover {
    opacity: 0.5;
}

