#user_header {
    background: url("../assets/temp/PotatoPatata_deep_sunset_f03d67f9-9bac-4d95-ac00-73d97242dded.png");
}

ul li a {
    text-transform: uppercase;
}

.user_sectionTitle {
    background-color: #ffe1e1;
}

#more-menu {
    background-color: silver;
    border-radius: 32px;
    width: auto;
}
