#header {
    background: url("../assets/temp/PotatoPatata_deep_sunset_f03d67f9-9bac-4d95-ac00-73d97242dded.png");
}

#user_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

#user_avatar:hover {
    cursor: pointer;
}

ul li a {
    text-transform: uppercase;
}
